
div.gridster li.gridster-item {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: #004756;
    background: #ffffff;
    position:absolute;
    cursor:move;
    padding: 5px;
}

#glassboxGrid {
    background:#FFF;
    border:1px solid #000;
    height:400px;
    margin:0 0 0 0;
    position:relative;
    width:960px;
}
.svgtest{
    width:100%; 
    height:100%;
   object-fit: scale-down;
   max-width: 40px;
   max-height: 40px;
}
