
	<div ng-cloak ng-controller="clientOrgController as clientOrgCtrl"
		ng-submit="submit()">
		<div class="container">
			<div class="content">
				<h1>Add a new client organisation</h1>
				<form>
					<div class="form-group">
						<label for="exampleInput">Organisation Name</label> <input
							type="text" ng-model="clientOrg.name" class="form-control"
							id="orgName" placeholder="Enter Organisation Name" required>
					</div>
					<div class="form-group">
						<label for="exampleInput">IT Admin's Email</label> <input
							type="email" ng-model="clientOrg.email" class="form-control"
							id="orgEmail" placeholder="Enter Organisation IT Admin's email"
							required>
					</div>
					<div class="form-group">
						<label for="exampleInput">IT Admin's name</label> <input
							type="text" ng-model="clientOrg.nameAdmin" class="form-control"
							id="orgEmail" placeholder="Enter Organisation IT Admin's name"
							required>
					</div>


					<div ng-repeat="gender in genders">
						<div class="action-checkbox">
							<input id="{{gender}}" type="checkbox" value="{{gender}}"
								ng-checked="selection.indexOf(gender) > -1"
								ng-click="toggleSelection(gender)" /> <label for="{{gender}}"></label>
							{{gender}}
						</div>
					</div>
					<br>
					<!-- <a class="btn btn-primary" href=".html"><div data-original-title="submit" data-placement="bottom"></div></a>  -->
					<input type="submit" value="Submit">
				</form>
			</div>
		</div>
	</div>

