<div class="clearfix">
                        <ol class="breadcrumb no-bg no-m-t">
                            <li class="active"><i class="glyphicon glyphicon-dashboard"></i></li>
                            <li><a ui-sref="dashboard.workspace">Workspace</a></li>
                            <li><a ui-sref="dashboard.viewClientOrgs">View Clients</a></li>
                             <li><a>Add Client</a></li>
                        </ol>
</div>
	<div class="row" ng-cloak ng-controller="clientOrgController as clientOrgCtrl">
		<div class="col-md-9">
			<div class="panel panel-primary">

				<div class="panel-heading">
					<h3 class="panel-title">Add client organisation	  
						<div class="panel-control pull-right">
							<a class="panelButton"><i class="fa fa-refresh"></i></a>
							<a class="panelButton"><i class="fa fa-minus"></i></a>
							<a class="panelButton"><i class="fa fa-remove"></i></a>
						</div>
					</h3>
				</div>
				<div class="panel-body">
				<form>
					<div class="form-group">
						<label for="exampleInput">Organisation Name</label> <input
							type="text" ng-model="clientOrg.name" class="form-control underline"
							id="orgName" placeholder="Enter Organisation Name" required>
					</div>
					<div class="form-group">
						<label for="exampleInput">IT Admin's Email</label> <input
							type="email" ng-model="clientOrg.email" class="form-control underline"
							id="orgEmail" placeholder="Enter Organisation IT Admin's email"
							required>
					</div>
					<div class="form-group">
						<label for="exampleInput">IT Admin's name</label> <input
							type="text" ng-model="clientOrg.nameAdmin" class="form-control underline"
							id="orgEmail" placeholder="Enter Organisation IT Admin's name"
							required>
					</div>
                    <div class="form-group">
						<label for="exampleInput">Subscription Fee (After GST)</label> <input
							type="number" step="0.01" min="0" ng-model="clientOrg.fee" class="form-control underline"
							id="orgEmail" placeholder="Enter Organisation After GST Subscription Fee"
							required>
					</div>
					<div class="form-group">
						<label for="exampleInput">Start Date</label> <input
							type="datetime-local" step="86400"  ng-model="clientOrg.start"
							ng-change='checkDateErr(eclientOrg.start,clientOrg.end)'
							class="form-control underline" placeholder="Enter start date">
					</div>
					<div class="form-group">
						<label for="exampleInput">End Date</label> <input
							type="datetime-local" step="86400"  ng-model="clientOrg.end"
							ng-change='checkDateErr(clientOrg.start,clientOrg.end)'
							class="form-control underline" placeholder="Enter end date">
					</div>
					<div class="form-group">
						<label for="exampleInput">Address</label> <input required
							type="text" ng-model="clientOrg.address"
							class="form-control underline" id="address"
							placeholder="Enter address">
					</div>
					<div class="form-group">
						<label for="exampleInput">Postal Code</label> <input required
							type="text" ng-model="clientOrg.postal"
							class="form-control underline" id="postalCode"
							placeholder="Enter postal code">
					</div>
					<div class="form-group">
						<label for="exampleInput">Contact Number</label> <input required
							type="text" ng-model="clientOrg.phone"
							class="form-control underline" id="phone"
							placeholder="Enter contact number">
					</div>					
					  <div >
					     <input type="checkbox" ng-model="common" value="COMMONINFRA" ng-disabled="true" ng-checked = "true">COMMON INFRASTRUCTURE<br>
						 <input type="checkbox" ng-model="property" value="PROPERTY" ng-disabled="true" ng-checked = "true">PROPERTY<br>
						 <input type="checkbox" ng-model="event" value="EVENT" ng-disabled="true" ng-checked = "true">EVENT<br>
                         <input type="checkbox" ng-model="finance" value = "FINANCE ">FINANCE<br>
                         <input type="checkbox" ng-model="ticketing" value = "TICKETING"  ng-disabled="!finance" ng-checked="finance&& 0">TICKETING<br>
                         <input type="checkbox" ng-model="bi" value = "BI" >BUSINESS INTELLIGENCE<br>
                    </div>
					<!--<div ng-repeat="gender in genders">
						<div class="action-checkbox">
							<input id="{{gender}}" type="checkbox" value="{{gender}}"
								ng-checked="selection.indexOf(gender) > -1 || (gender == 'TICKETING' && !checkSub() && 0)" ng-disabled = "gender == 'TICKETING' && checkSub()"
								ng-click="toggleSelection(gender)" /> <label for="{{gender}}"></label>
							{{gender}}
						</div>
					</div>-->
					<br>
					<!-- <a class="btn btn-primary" href=".html"><div data-original-title="submit" data-placement="bottom"></div></a>  -->
					
				<button class="progress-button primary-progress"  data-style="shrink" data-horizontal ng-click = "submit()">Submit</button> &nbsp;
                 
                    </form>
                    
                    
                    
                    
				</div>
			</div>
        </div>
</div>
