<div class="row" ng-cloak ng-controller="configureTicketsController as tixCtrl"
	ng-controller="progressCtrl">
	<div class="clearfix">
		<ol class="breadcrumb no-bg no-m-t">
			<li class="active"><i class="glyphicon glyphicon-dashboard"></i></li>
			<li><a ui-sref="IFMS.workspace">Workspace</a></li>
			<li><a ui-sref="IFMS.viewAllEventsEx">View Events</a></li>
			<li><a ui-sref="IFMS.configureDiscountsEx">Configure Discounts</a></li>
			<li><a>Add Discount</a></li>
		</ol>
	</div>


	<div class="col-md-6">
		<div class="panel panel-primary">

			<div class="panel-heading">
				<h3 class="panel-title">
					Add Discount
					<div class="panel-control pull-right">
						<a class="panelButton"><i class="fa fa-refresh"></i></a> <a
							class="panelButton"><i class="fa fa-minus"></i></a> <a
							class="panelButton"><i class="fa fa-remove"></i></a>
					</div>
				</h3>
			</div>
			<div class="panel-body">
				<form>
					<div class="form-group">
						<label for="exampleInput">Retailer Name</label> <input type="text"
							ng-model="retailerName" class="form-control" id="retailerName"
							placeholder="Enter retailer name" required>
					</div>
					<div class="form-group">
						<label for="exampleInput">Discount Message</label> <input type="text"
							ng-model="discountMessage" class="form-control" id="discountMessage"
							placeholder="Enter discount message" required>
					</div>


					<button class="progress-button primary-progress"
						data-style="shrink" data-horizontal ng-click="submitAddDiscount()">Submit</button>
					&nbsp;
				</form>


			</div>
		</div>
	</div>

</div>


