<div class="row" ng-cloak ng-controller="addEController as addECtrl"
	ng-controller="progressCtrl">
	<div class="clearfix">
		<ol class="breadcrumb no-bg no-m-t">
			<li class="active"><i class="glyphicon glyphicon-dashboard"></i></li>
			<li><a ui-sref="dashboard.workspace">Workspace</a></li>
			<li><a ui-sref="dashboard.viewAllEventsEx">View Events</a></li>
			<li><a>Add Event</a></li>
		</ol>
	</div>


	<div class="col-md-6">
		<div class="panel panel-primary">

			<div class="panel-heading">
				<h3 class="panel-title">
					Add event
					<div class="panel-control pull-right">
						<a class="panelButton"><i class="fa fa-refresh"></i></a> <a
							class="panelButton"><i class="fa fa-minus"></i></a> <a
							class="panelButton"><i class="fa fa-remove"></i></a>
					</div>
				</h3>
			</div>
			<div class="panel-body">
				<form>
					<div class="form-group">
						<label for="exampleInput">Event Start Date</label> <input
							type="datetime-local" ng-model="event.event_start_date"
							ng-change='checkDateErr(event.event_start_date,event.event_end_date); checkAvail(); checkRent()'
							class="form-control underline" placeholder="Enter start date">
					</div>
					<div class="form-group">
						<label for="exampleInput">Event End Date</label> <input
							type="datetime-local" ng-model="event.event_end_date"
							ng-change='checkDateErr(event.event_start_date,event.event_end_date); checkAvail(); checkRent()'
							class="form-control underline" placeholder="Enter end date">
					</div>
					<div class="form-group">
						<label for="building" class="control-label">Select
							Building</label> <select name="building"
							ng-model="currentlySelectedBuilding"
							ng-options="x.id as x.name for x in buildings"
							ng-change="getLevel(currentlySelectedBuilding)"
							class="form-control underline">
						</select>
						<!-- <p>Building ID <input ng-model="currentlySelectedBuilding"> Selected</p>-->
						<!-- <button ng-click="getLevel(currentlySelectedBuilding)">Apply</button>  -->
					</div>

					<div class="form-group">
						<label for="level" class="control-label">Select Level</label> <select
							name="level" ng-model="currentlySelectedLevel"
							ng-options="x.id as x.levelNum for x in levels"
							ng-change="getUnit(currentlySelectedLevel)"
							class="form-control underline">
						</select>
						<!--  <p>Level ID <input ng-model="currentlySelectedLevel"> Selected</p>-->
						<!--<button ng-click="getUnit(currentlySelectedLevel)">Apply</button>-->
					</div>
					<div class="form-group">
						<ul class="list-group" name="units">
							<li ng-repeat="unit in selectedUnits" class="list-group-item" style="display: inline;">{{unit.unitNumber}}
								<button ng-click="deleteUnit(unit); checkRent();">
									<i class="glyphicon glyphicon-trash"></i>
								</button>
							</li>
						</ul>
					</div>
					<div class="form-group">
						<label for="unit" class="control-label">Select Unit</label> <select
							name="unit" ng-model="currentlySelectedUnit"
							ng-options="x as x.unitNumber for x in units| filter: { rentable : true }"
							ng-change="selectUnit(); checkRent(); checkAvail()" class="form-control underline">

						</select>
					</div>

					<div>
						<!-- <button ng-click="checkRent()">Check total rent</button>  -->
						<p>TOTAL RENT before GST(SGD): {{totalRent | currency}}</p>
						<p>TOTAL RENT after GST(SGD): {{totalRentAfter | currency}}</p>
						<!--<button ng-click="checkComponent()">Check total rent</button>-->
						<table class="table table-hover">              
                        <thead>
                           <tr>
                           <th><i></i> S/N </th>
                           <th><i></i> Unit ID </th>
                           <th><i></i> Basic Hourly Rent (Before GST)</th>
                           <th><i></i> Special Rate (x)</th>
                            <th><i></i> Number Of Hours </th>
                            <th><i></i> Rental Before GST </th>
                          </tr>
                           </thead>
                         <tbody>
                         <tr ng-repeat="x in components | orderObjectBy:order_item:order_reverse">
                             <td>{{ x.num }}</td>
                            <td>{{ x.id }}</td>
                            <td>{{ x.base }}</td>
                            <td>{{ x.rate }}</td>
                            <td>{{ x.hour }}</td>
                            <td>{{ x.rental }}</td>
                        </tr>
                         </tbody>                       
                    </table>	
					</div>
					<div class="form-group">
						<label for="exampleInput">Event Title</label> <input type="text"
							ng-model="event.event_title" class="form-control underline"
							placeholder="Enter event title" required>
					</div>
					<div class="form-group">
						Select an event type: <select ng-model="eventType"
							ng-options="x.eventType as x.name for x in eventTypes">
						</select>
					</div>

					<!-- <div class="form-group">
               <label for="exampleInput">Event Content</label>
               <input type="text" ng-model="event.event_content" class="form-control underline" placeholder="Enter event content">
        </div>-->
					<div class="form-group">
						<label for="exampleInput">Event Description</label> <input
							type="text" ng-model="event.event_description"
							class="form-control underline"
							placeholder="Enter event description">
					</div>
					
					
					<div>
						Logo: <input type="file" ngf-select ng-model="picFile" name="file"
							accept="image/*" ngf-max-size="10MB"
							ngf-model-invalid="errorFile"> <i
							ng-show="myForm.file.$error.required">*required</i><br> <i
							ng-show="myForm.file.$error.maxSize">File too large
							{{errorFile.size / 1000000|number:1}}MB: max 2M</i> <img
							ng-show="myForm.file.$valid" ngf-thumbnail="picFile"
							class="thumb" height="100px" width="100px">
						<button ng-click="picFile = null" ng-show="picFile">Remove</button>
					</div>
					
					<!--  <button ng-click = "addEvent()"><input type="submit" value="Submit"></button>-->
					<button class="progress-button primary-progress"
						data-style="shrink" data-horizontal ng-click="addEvent()">Submit</button>
					&nbsp;
				</form>


			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-8">
		<div class="conter-wrapper">
			<div class="panel panel-default">
				<div class="panel-body">
					<div ui-calendar="uiConfig.calendar" ng-model="haha"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<growl-notifications> <growl-notification
			ng-if="avail == 'AVAILABLE!'"
			class="growl-success alert-success fading"> <a
			href="#" ng-click="$growlNotification.remove()" class="close"><i
			class="fa fa-times"></i></a> Selected units are available</growl-notification> <growl-notification
			ng-if="avail == 'NOT AVAILABLE!'" class="growl-error">
		<a href="#" ng-click="$growlNotification.remove()" class="close"><i
			class="fa fa-times"></i></a> Selected units are not available </growl-notification> </growl-notifications>
	</div>

</div>