
	<div ng-cloak ng-controller="eventController as buildCtrl" ng-submit="submit()">
      <div class="container">
        <div class="content" >
        <h1>Add a new event</h1>
        <p class="tagline">List your to-do-list here</p>
        <form>
        <div class="form-group">
               <label for="exampleInput">Event Name</label>
               <input type="text" ng-model="event_name" class="form-control" id="eventName" placeholder="Enter building name">
        </div>
        <div class="form-group">
               <label for="exampleInput">Event Date</label>
               <input type="text" ng-model="event_date" class="form-control" id="eventDate" placeholder="Enter number of floor">
        </div>
        <div class="form-group">
               <label for="exampleInput">Event Details</label>
               <input type="text" ng-model="event_details" class="form-control" id="eventDetails" placeholder="Enter address">
        </div>
        <div class="form-group">
               <label for="exampleInput">Event Location</label>
               <input type="text" ng-model="event_location" class="form-control" id="eventLocation" placeholder="Enter city name">
       </div>
       <div class="form-group">
               <label for="exampleInput">Event Location Details</label>
               <input type="text" ng-model="event_location_details" class="form-control" id="eventLocationDetails" placeholder="Enter postal code">
       </div>
       <div class="form-group">
              <label for="exampleInput">Maintenance Details</label>
               <input type="text" ng-model="event_maintenance_details" class="form-control" id="maintenanceDetails" placeholder="Enter postal code">
      </div>
       <!-- <a class="btn btn-primary" href=".html"><div data-original-title="submit" data-placement="bottom"></div></a>  -->
       <input type="submit" value="Submit">
        </form>
        </div>
      </div>
    </div>
		




