
<div ng-cloak ng-controller="addIconController as addIconCtrl">
	<div class="clearfix">
		<ol class="breadcrumb no-bg no-m-t">
			<li class="active"><i class="glyphicon glyphicon-dashboard"></i></li>
			<li><a ui-sref="IFMS.workspace">Workspace</a></li>
			<li><a ui-sref="IFMS.viewIcon">View icons</a></li>
			<li><a>Add Building</a></li>
		</ol>
	</div>

	<div class="col-md-9">
		<div class="panel panel-primary">

			<div class="panel-heading">
				<h3 class="panel-title">
					Add icon
					<div class="panel-control pull-right">
						<a class="panelButton"><i class="fa fa-refresh"></i></a> <a
							class="panelButton"><i class="fa fa-minus"></i></a> <a
							class="panelButton"><i class="fa fa-remove"></i></a>
					</div>
				</h3>
			</div>
			<div class="panel-body">

				<form>
					<div class="form-group">
						Select an icon type: <select ng-model="iconType"
							ng-options="x.iconType as x.name for x in iconTypes">
						</select>
					</div>
					<div>
						Logo: <input type="file" ngf-select ng-model="picFile" name="file"
							accept=".svg" ngf-max-size="10MB" required
							ngf-model-invalid="errorFile"> <i
							ng-show="myForm.file.$error.required">*required</i><br> <i
							ng-show="myForm.file.$error.maxSize">File too large
							{{errorFile.size / 1000000|number:1}}MB: max 2M</i> <img
							ng-show="myForm.file.$valid" ngf-thumbnail="picFile"
							class="thumb" height="100px" width="100px">
						<button ng-click="picFile = null" ng-show="picFile">Remove</button>
					</div>


					<!-- <button ng-disabled="!myForm.file.$valid" class="progress-button primary-progress" data-style="shrink" data-horizontal ng-click = "saveIcon()">Submit</button> &nbsp;
    -->
					<button class="progress-button primary-progress"
						data-style="shrink" data-horizontal ng-click="saveIcon()">Submit</button>
					&nbsp;

				</form>
			</div>
		</div>
	</div>