
	<div ng-cloak ng-controller="paymentController as paymentCtrl">
      <div class="container">
        <div class="content" >
        <h1>Add a payment plan</h1>
        <a href="/#/viewBuilding"><button>Back to view all payment plans</button></a>
        <p class="tagline">Add your payment plan here</p>
        <form>
        <div class="form-group">
               <label for="exampleInput">Event Id</label>
               <input type="number" ng-model="plan.eventId" class="form-control" placeholder="Enter event id">
        </div>
        <div class="form-group">
               <label for="exampleInput">Total Payment</label>
               <input type="number" ng-model="plan.total" class="form-control" placeholder="Enter total payment">
        </div>
        <div class="form-group">
               <label for="exampleInput">Deposit</label>
               <input type="number" ng-model="plan.deposit" class="form-control" placeholder="Enter deposit">
        </div>
        <div class="form-group">
               <label for="exampleInput">Number of Subsequent Payment</label>
               <input type="number" ng-model="plan.subsequent_number" class="form-control"placeholder="Enter number of subsequent payment">
       </div>
       <div class="form-group">
               <label for="exampleInput">Subsequent Payment amount</label>
               <input type="number" ng-model="plan.subsequent" class="form-control"  placeholder="Enter subsequent payment amount">
       </div>
 
       <button ng-click = "addPaymentPlan()"><input type="submit" value="Submit"></button>
       <br>
       <a href="#/viewAllPaymentPlans">View Payment Plan List</a>
        </form>
        </div>
      </div>
    </div>
		
	