
	<div ng-cloak ng-controller="rateController as rateCtrl">
      <div class="container">
        <div class="content" >
        <h1>Add a new special rate</h1>
        <a href="/#/viewBuilding"><button>Back to view special rates</button></a>
        <p class="tagline">Add your new special rate here</p>
        <form>
        <div class="form-group">
               <label for="exampleInput">Rate</label>
               <input type="number" step="0.01" min="0" ng-model="special.rate" class="form-control" id="specialRate" placeholder="Enter special rate">
        </div>
        <div class="form-group">
               <label for="exampleInput">Description</label>
               <input type="text" ng-model="special.description" class="form-control" id="description" placeholder="Enter description">
        </div>
        <select ng-model="myDropDown">   
          <option value="period">Please Select A Period</option>     
          <option value="month">Any Month?</option>
          <option value="weekend">All Weekends?</option>
          <option value="date">Any Specific Date?</option>
       </select><br>
     
    <div ng-show="myDropDown=='month'" >
    <label for="month" class="control-label">Select Month</label> <select
						name="month" ng-model="special.period" ng-options="x.month as x.name for x in months"
						class="form-control">
					</select>
    </div>  
    
    <div ng-show="myDropDown=='weekend'">   
     <label for="weekend" class="control-label"></label> <select
						name="weekend" ng-model="special.period" ng-options="x.weekend as x.name for x in weekends"
						class="form-control">
					</select>  
    <!--<input type="text" ng-model="special.period" class="form-control"  ng-init="special.period='weekend'" value ="weekend" readonly><br>--> 
    </div>
    
    <div ng-show="myDropDown=='date'">
    <label for="exampleInput">Please Enter a date</label>
               <input type="datetime-local" step="86400" ng-model="special.period" class="form-control" id="period" placeholder="Enter date">
    </div>

       <!-- <a class="btn btn-primary" href=".html"><div data-original-title="submit" data-placement="bottom"></div></a>  -->
       <button ng-click = "addRate()"><input type="submit" value="Submit"></button>
       <br>
       <a href="#/viewAllRates">View Special Rates List</a>
        </form>
        </div>
      </div>
    </div>
		
	