
	<div ng-cloak ng-controller="deleteRateController as deleteRateCtrl" ng-submit="submit()">
      <div class="container">
        <div class="content" >
        <h1>Delete Special Rate</h1>
        <a href="#/viewAllRates"><button>Back to view all special rates</button></a>
        <p class="tagline">Detele your special rate here</p>
              <button ng-click = "deleteRate()">Delete</button>
        <table class="table table-striped table-advance table-hover">
        <tbody>
           <tr>
           <td><i></i> ID </td>
           <td><i></i> Rate </td>
           <td><i></i> Description </td>
           <td><i></i> Period </td>
           </tr>
         <tr>
         <td ng-bind="special.id"></td>
         <td ng-bind="special.rate"></td>
         <td ng-bind="special.description"></td>
         <td ng-bind="special.period"></td>
         </tr>
         </tbody>
      </table>        
       
        </div>
      </div>
    </div>
