<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Login to IFMS</title>
    </head>
<body>

<div class="login-page" ng-controller="UserController as controller">
	<div class="row">
		<div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
		
		<img src="img/ifms.png" class="user-avatar" height="42" width="42"/>
		<h1 style="text-align:center;">IFMS</h1> 
		<form role="form" class="login-form" ng-submit="controller.login()">	
            <div class="form-content">

            <div class="form-group">
				<input type="text" class="form-control input-underline input-lg" placeholder="Username" required="" id="username"
					ng-model="controller.credentials.username" />
			</div>
            
			<div class="form-group">
               <input type="password" ng-model="controller.credentials.password"
					id="password" class="form-control input-underline input-lg" placeholder="Password"> 
            </div>
          	<span align="right" ><a href="#/reset" style="color:white" class="pull-right">Lost your password?</a></span>
          	<div class="input-group">
							<label>
								<input type="checkbox" value="remember-me"> Remember me
							</label>
				
                			
			</div>
					
            	 </div>			
          
            <input align="centre" class="btn btn-white btn-outline btn-lg btn-rounded progress-login"  type="submit" value="Log in">
            <!--<button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>-->
			
           
		</form>


	</div>
	</div>
</div>

</body>
</html>