<div class="side-menu">
	<div class="menu-body">
		<ul class="nav nav-pills nav-stacked sidenav">
		
			<li ng-show="IsUser()" ng-controller="AccountController"
						class="active">
				<a  ui-sref="dashboard.workspace">
				<span class="glyphicon glyphicon-dashboard"></span>
				</a>
				<ul class="nested-dropdown animated fadeIn">
					<li><a  ui-sref="dashboard.workspace">{{ 'Workspace' | translate }}</a></li>
				</ul>
			</li>
			
			<li  ng-show="IsUser()" ng-controller="AccountController" class="active">
			<a ui-sref="dashboard.new">
					<span class="glyphicon glyphicon-bell"></span>
				</a>
				<ul class="nested-dropdown animated fadeIn">
					<li class="sidemenu-header">{{ 'Notification' | translate }}</li>
					<li><a  ui-sref="dashboard.new">{{ 'Send a Notification' | translate }}</a></li>
                    <li><a  href="#">{{ 'View Notifications' | translate }}</a></li>
				</ul>
            </li>
            
            
            
			<li ng-show="IsProperty()" ng-controller="AccountController"
						class="active">
				<a ui-sref="dashboard.viewBuilding">
					<span class="glyphicon glyphicon-road"></span>
				</a>
				<ul class="nested-dropdown animated fadeIn">
					<li class="sidemenu-header">{{ 'Property' | translate }}</li>
					<li><a  ui-sref="dashboard.viewBuilding">{{ 'Building' | translate }}</a></li>
					<li><a  ui-sref="dashboard.uploadCSV">{{ 'CSV' | translate }}</a></li>
					<li><a  ui-sref="dashboard.viewIcon">{{ 'Icon' | translate }}</a></li>
					<li><a  ui-sref="dashboard.viewAllRates">{{ 'Special Rate' | translate }}</a></li>
				</ul>
			</li>
			
        <li ng-show="IsProperty()" ng-controller="AccountController" class="active">
			<a ui-sref="dashboard.viewAllVendors">
					<span class="glyphicon glyphicon-pawn"></span>
				</a>
				<ul class="nested-dropdown animated fadeIn">
					<li class="sidemenu-header">{{ 'Vendor' | translate }}</li>
					<li><a  ui-sref="dashboard.viewAllVendors">{{ 'View Vendors' | translate }}</a></li>
					<li><a  ui-sref="dashboard.addVendor">{{ 'Add a Vendor' | translate }}</a></li>
				</ul>
            </li>
          <li ng-show="IsProperty()" ng-controller="AccountController" class="active">
			<a ui-sref="dashboard.viewMaintenance">
					<span class="glyphicon glyphicon-list-alt"></span>
				</a>
				<ul class="nested-dropdown animated fadeIn">
					<li class="sidemenu-header">{{ 'Maintenance' | translate }}</li>
					<li><a  ui-sref="dashboard.viewMaintenance">{{ 'View Maintenance' | translate }}</a></li>
					<li><a  ui-sref="dashboard.addMaintenance">{{ 'Add a Maintenance' | translate }}</a></li>
				</ul>
            </li>
            
			
			<li ng-show="IsEvent()" ng-controller="AccountController"
						class="active">
				<a ui-sref="dashboard.viewAllEvents">
					<span class="glyphicon glyphicon-list-alt"></span>
				</a>
				<ul class="nested-dropdown animated fadeIn">
					<li class="sidemenu-header">{{ 'Manage Event' | translate }}</li>
					<li><a  ui-sref="dashboard.viewAllEvents">{{ 'Event' | translate }}</a></li>
					<li><a  ui-sref="dashboard.viewEventOrganizers">{{ 'Event Organisers' | translate }}</a></li>
					</ul>
			</li>
			
			
			
			<li  ng-show="IsExtEve()" ng-controller="AccountController" class="active">
			<a ui-sref="dashboard.viewAllEventsEx">
					<span class="glyphicon glyphicon-list-alt"></span>
				</a>
				<ul class="nested-dropdown animated fadeIn">
					<li class="sidemenu-header">{{ 'Event' | translate }}</li>
					<li><a  ui-sref="dashboard.viewAllEventsEx">{{ 'View Events' | translate }}</a></li>
					<li><a  ui-sref="dashboard.addEventEx">{{ 'Add a Event' | translate }}</a></li>
				</ul>
            </li>
            
            <li  ng-show="IsExtEve()" ng-controller="AccountController" class="active">
			<a href="#">
					<span class="glyphicon glyphicon-road"></span>
				</a>
				<ul class="nested-dropdown animated fadeIn">
					<li class="sidemenu-header">{{ 'Property Details(To Be Added)' | translate }}</li>
					<li><a  href="#">{{ 'View Property' | translate }}</a></li>
				</ul>
            </li>
			
			<li ng-show="IsAdmin()" ng-controller="AccountController" class="active">
				<a ui-sref="dashboard.createNewUser">
					<span class="glyphicon glyphicon-king"></span>
				</a>
				<ul class="nested-dropdown animated fadeIn">
					<li class="sidemenu-header">{{ 'Users' | translate }}</li>
					<li><a ui-sref="dashboard.createNewUser">{{ 'Add New User' | translate }}</a></li>
					<li><a ui-sref="dashboard.viewUserList">{{ 'View All Users' | translate }}</a></li>
				</ul>
			</li>
			
        	<li ng-show="IsAdmin()" ng-controller="AccountController" class="active">
				<a ui-sref="dashboard.viewAuditLog">
					<span class="glyphicon glyphicon-save-file"></span>
				</a>
				<ul class="nested-dropdown animated fadeIn">
					<li class="sidemenu-header">{{ 'Audit Log' | translate }}</li>
					<li><a ui-sref="dashboard.viewAuditLog">{{ 'View Audit Log' | translate }}</a></li>
				</ul>
			</li>
			
			<li ng-show="IsAdmin()" ng-controller="AccountController" class="active">
				<a ui-sref="dashboard.uploadCompanyLogo">
					<span class="glyphicon glyphicon-picture"></span>
				</a>
				<ul class="nested-dropdown animated fadeIn">
					<li class="sidemenu-header">{{ 'Customisation' | translate }}</li>
					<li><a ui-sref="dashboard.uploadCompanyLogo">{{ 'Upload Logo' | translate }}</a></li>
					<li><a ui-sref="dashboard.uploadCompanyLogo">{{ 'Change Theme Colour' | translate }}</a></li>
				</ul>
			</li>
			
			
			
			 <li ng-show="IsSuperAdmin()" ng-controller="AccountController" class="active">
				<a ui-sref="dashboard.viewClientOrgs">
					<span class="glyphicon glyphicon-queen"></span>
				</a>
				<ul class="nested-dropdown animated fadeIn">
					<li class="sidemenu-header">{{ 'Client Organisation' | translate }}</li>
					<li><a  ui-sref="dashboard.viewClientOrgs">{{ 'View All Client Organisations' | translate }}</a></li>
                    <li><a  ui-sref="dashboard.addClientOrg">{{ 'Add a Client Organisation' | translate }}</a></li>
				</ul>
            </li>
			
			
		<li  ng-show="IsFinance()" ng-controller="AccountController" class="active">
			<a ui-sref="dashboard.viewAllPaymentPlans">
					<span class="glyphicon glyphicon-blackboard"></span>
				</a>
				<ul class="nested-dropdown animated fadeIn">
					<li class="sidemenu-header">{{ 'Payment' | translate }}</li>
					<li><a  ui-sref="dashboard.viewAllPaymentPlans">{{ 'View Payment Plans' | translate }}</a></li>
					<li><a  ui-sref="dashboard.viewPaymentPolicy">{{ 'View Payment Policy' | translate }}</a></li>
					<li><a  ui-sref="dashboard.viewAllOutstandingBalance">{{ 'View Outstanding Balance' | translate }}</a></li>
					<li><a  ui-sref="dashboard.viewEventsWithTicketSales">{{ 'View Events With Ticket Sales' | translate }}</a></li>
				</ul>
            </li>
			
		</ul>
	</div>
</div>