<!DOCTYPE html>
<html lang="en">
<head>

<title>Reset Password</title>
</head>

<body >

	<div class="login-page" ng-controller="UserController as ctrl" class="container">
<div class="row">
		<div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
		
		<img src="img/expoIcon.png" class="user-avatar" height="42" width="42"/>
		<h1 style="text-align:center;">Reset Password</h1> 
      <form   class="login-form">
		 <div class="form-content">
				<div class="form-group">
				<input ng-model="ctrl.email" type="email" class="form-control input-underline input-lg"
					placeholder="Email" autofocus>
					<input ng-show = "verified" ng-model="ctrl.security" value = "verified" type="security" class="ng-cloak form-control input-underline input-lg"
					placeholder="{{securityPlaceholder}}" autofocus>
				</div>	
			</div>
			<button class="btn btn-white btn-outline btn-lg btn-rounded progress-login" ng-click="verifyEmail()" 
					progress-button="authenticate()" type="submit"  >Verify Email</button>	
			<button  ng-show = "verified" class="ng-cloak btn btn-white btn-outline btn-lg btn-rounded progress-login" ng-click="ctrl.submitResetPass()" progress-button="authenticate()" type="submit">Submit</button>
			<a href="#/login"> <button type="submit" class="btn btn-white btn-outline btn-lg btn-rounded">Login Page</button></a>
		</form>
</div>
</div>
	</div>


</body>
