<!DOCTYPE html>
<html lang="en">
<head>

<title>Reset Password</title>
</head>

<body >

	<div class="login-page" ng-controller="UserController as ctrl" class="container">
<div class="row">
		<div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
		
		<img src="img/expoIcon.png" class="user-avatar" height="42" width="42"/>
		<h1 style="text-align:center;">Reset Password</h1> 
      <form  ng-submit="ctrl.submitResetPass()" class="login-form">
		 <div class="form-content">
		
			
			<div class="form-group">

				
				<input ng-model="ctrl.email" type="email" class="form-control input-underline input-lg"
					placeholder="Email" autofocus>
			</div>
			
			</div>
			
			<button class="btn btn-white btn-outline btn-lg btn-rounded progress-login" progress-button="authenticate()" type="submit">Submit</button>
		
		
		 <a href="#/login"> <button type="submit" class="btn btn-white btn-outline btn-lg btn-rounded">Login Page</button></a>
		</form>
</div>
</div>
	</div>


</body>
