
	<div ng-cloak ng-controller="receivedPController as receivePCtrl" >
	 <div class="clearfix">
                            <ol class="breadcrumb no-bg no-m-t">
                                <li class="active"><i class="glyphicon glyphicon-dashboard"></i></li>
                                <li><a ui-sref="dashboard.workspace">Workspace</a></li>
                                <li><a ui-sref="dashboard.viewAllOutstandingBalance">View Outstanding Balance For All Organisers</a></li>
                                <li><a>Update Received Payment</a></li>
                            </ol>
        </div>
      <div class="col-md-9">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Update Received Payment from Event Organiser
						<div class="panel-control pull-right">
						
							<a class="panelButton"><i class="fa fa-refresh"></i></a>
							<a class="panelButton"><i class="fa fa-minus"></i></a>
							<a class="panelButton"><i class="fa fa-remove"></i></a>
							
						</div>
					</h3>
				</div>
				<div class="panel-body" >
					<form class="form-horizontal">
        <div class="form-group">
					<label for="plan" class="control-label">Select a payment plan</label> <select
						name="plan" ng-change="getPlan(currentlySelectedPlan)"
						ng-model="currentlySelectedPlan" ng-options="x.id as x.id for x in plans"
						class="form-control underline">
					</select>
		</div>
       <div class="form-group">
							<label class="col-sm-2 control-label">Payment Plan ID</label>
							<div class="col-sm-10">
								<p class="form-control-static" ng-bind="paymentPlan.id"></p>
							</div>
		</div>
		<div class="form-group">
							<label class="col-sm-2 control-label">Total Amount</label>
							<div class="col-sm-10">
								<p class="form-control-static" ng-bind="paymentPlan.total"></p>
							</div>
		</div>
		<div class="form-group">
							<label class="col-sm-2 control-label">Next Payment</label>
							<div class="col-sm-10">
								<p class="form-control-static" ng-bind="paymentPlan.nextPayment"></p>
							</div>
		</div>
		<div class="form-group">
               <label for="exampleInput">Amount paid</label>
               <input type="number" step="0.01" min="0" ng-model="amountPaid" class="form-control" placeholder="Enter amount paid">
       </div>  
		<div class="form-group">
               <label for="exampleInput">Cheque Number</label>
               <input type="text" ng-model="chequeNum" class="form-control" placeholder="Enter cheque number">
       </div>  
	
          <button class="progress-button primary-progress" data-style="shrink" data-horizontal ng-click = "updateReceivedPayment()">Submit</button> &nbsp;
      </form>	
				</div>
			</div>
		</div>
	</div>
	
