
	<div ng-cloak ng-controller="outgoingController as outgoingCtrl" >
	 <div class="clearfix">
                            <ol class="breadcrumb no-bg no-m-t">
                                <li class="active"><i class="glyphicon glyphicon-dashboard"></i></li>
                                <li><a ui-sref="IFMS.workspace">Workspace</a></li>
                                <li><a ui-sref="IFMS.viewEventsWithTicketSales">View All Events With Ticket Sales</a></li>
                                <li><a>Update Outgoing Cheque Payment To Event Organisers</a></li>
                            </ol>
        </div>
      <div class="col-md-9">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Update Outgoing Payment
						<div class="panel-control pull-right">
						
							<a class="panelButton"><i class="fa fa-refresh"></i></a>
							<a class="panelButton"><i class="fa fa-minus"></i></a>
							<a class="panelButton"><i class="fa fa-remove"></i></a>
							
						</div>
					</h3>
				</div>
				<div class="panel-body" >
				<form class="form-horizontal">
				 <div class="form-group">
							<label class="col-sm-2 control-label">Event ID</label>
							<div class="col-sm-10">
								<p class="form-control-static" ng-bind="org"></p>
							</div>
		         </div>
		         <div class="form-group">
							<label class="col-sm-2 control-label">Payment Plan ID</label>
							<div class="col-sm-10">
								<p class="form-control-static" ng-bind="payment.id"></p>
							</div>
		         </div>
		         <div class="form-group">
							<label class="col-sm-2 control-label">Total Amount</label>
							<div class="col-sm-10">
								<p class="form-control-static" ng-bind="payment.total"></p>
							</div>
		        </div>
		         <div class="form-group">
							<label class="col-sm-2 control-label">Total Amount Payable</label>
							<div class="col-sm-10">
								<p class="form-control-static" ng-bind="payment.payable"></p>
							</div>
		        </div>
				 <div class="form-group">
							<label class="col-sm-2 control-label">Ticket</label>
							<div class="col-sm-10">
								<p class="form-control-static" ng-bind="payment.ticketRevenue"></p>
							</div>
		        </div>
		       <div class="form-group">
							<label class="col-sm-2 control-label">Check Outgoing Payment</label>
							<div class="col-sm-10">
								<p class="form-control-static" ng-bind="amountToBePaid"></p>
							</div>
		        </div>
		         <div class="form-group">
                  <label for="exampleInput">Cheque Number</label>
                  <input type="text"  ng-model="cheque" class="form-control" placeholder="Enter cheque number">
                </div>
                 <button class="progress-button primary-progress" data-style="shrink" data-horizontal ng-click = "updateOutgoingPayment()">Submit</button> &nbsp;            
                </form> 			
				</div>
			</div>
		</div>
	</div>
	
