<div class="row" ng-cloak ng-controller="rentController as rentCtrl">
	<div class="clearfix">
		<ol class="breadcrumb no-bg no-m-t">
			<li class="active"><i class="glyphicon glyphicon-dashboard"></i></li>
			<li><a ui-sref="dashboard.workspace">Workspace</a></li>
			<li><a>Update Rent</a></li>
		</ol>
	</div>
	<div class="col-md-9">
		<div class="panel panel-primary">

			<div class="panel-heading">
				<h3 class="panel-title">
					Update rent
					<div class="panel-control pull-right">
						<a class="panelButton"><i class="fa fa-refresh"></i></a> <a
							class="panelButton"><i class="fa fa-minus"></i></a> <a
							class="panelButton"><i class="fa fa-remove"></i></a>
					</div>
				</h3>
			</div>
			<div class="panel-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<td>Unit Number</td>
							<td>Rent</td>
							<td></td>
							<td>Actions</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="unit in units | filter: { rentable : true } |orderObjectBy:order_item:order_reverse">
							<td>{{unit.unitNumber }}</td>
							<td>{{unit.rent}}</td>
							<td> <form name="thisForm"> <input input type="number"
									min="0.01" step="0.01" max="99999999" name = "formName" ng-model="unit.rent2"
									placeholder="{{unit.rent}}" ng-show="unit.editable" required></td>
							<td><a ng-click="edit(unit)" ng-hide="unit.editable"
								tooltip-placement="top" tooltip="Update Rent"><i
									class="glyphicon glyphicon-pencil"></i></a> <a
								ng-click="save(unit,thisForm.$invalid)" ng-show="unit.editable"
								tooltip-placement="top" tooltip="Save Rent"><i
									class="glyphicon glyphicon-floppy-disk"></i></a> </form></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>

	<div class="col-md-3">

		<div class="panel panel-primary">

			<div class="panel-heading">
				<h3 class="panel-title">
					Select filter
					<div class="panel-control pull-right">
						<a class="panelButton"><i class="fa fa-refresh"></i></a> <a
							class="panelButton"><i class="fa fa-minus"></i></a> <a
							class="panelButton"><i class="fa fa-remove"></i></a>
					</div>
				</h3>
			</div>
			<div class="panel-body">
				<form>


					<div class="form-group">
						<label for="building" class="control-label">Select
							Building</label> <select name="building"
							ng-model="currentlySelectedBuilding"
							ng-options="x.id as x.name for x in buildings"
							ng-change="getLevel(currentlySelectedBuilding)"
							class="form-control underline">
						</select>
						<!-- <p>Building ID <input ng-model="currentlySelectedBuilding"> Selected</p>-->
						<!-- <button ng-click="getLevel(currentlySelectedBuilding)">Apply</button>  -->
					</div>

					<div class="form-group">
						<label for="level" class="control-label">Select Level</label> <select
							name="level" ng-model="currentlySelectedLevel"
							ng-options="x.id as x.levelNum for x in levels"
							ng-change="getUnit(currentlySelectedLevel)"
							class="form-control underline">
						</select>
						<!--  <p>Level ID <input ng-model="currentlySelectedLevel"> Selected</p>-->
						<!--<button ng-click="getUnit(currentlySelectedLevel)">Apply</button>-->
					</div>

				</form>


			</div>
		</div>


		<a tooltip-placement="right" ng-click="viewAllUnits()"
			tooltip="View rent of all units"><button type="button"
				class="btn btn-primary btn-circle btn-lg">
				<i class="glyphicon glyphicon-refresh"></i>
			</button></a>

	</div>

</div>