<div class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Update area: {{area.areaName}}</h4>
      </div>
      <div class="modal-body">
        <p></p>
        <form class="form-horizontal" role="form">
						   		
                        <div class="form-group" ng-show="area.square.type=='./svg/rect.svg'">
                               <label for="exampleInput">Length (in meter)</label>
                               <input type="number" min="1" max="999" ng-model="area.sizeX"  class="form-control underline">
                        </div>
                        <div class="form-group" ng-show="area.square.type=='./svg/rect.svg'">
                               <label for="exampleInput">Width (in meter)</label>
                               <input type="number" min="1" max="999" ng-model="area.sizeY" class="form-control underline">
                        </div>
                        <div class="form-group"  ng-show="area.square.type=='./svg/rect.svg'">
                               <label for="exampleInput">color</label>
                               <color-picker ng-model="area.square.color"></color-picker>
                               <input type="text" ng-model="area.square.color" class="form-control underline" disabled>
                        </div>
                        <div class="form-group"  ng-show="area.square.type=='./svg/rect.svg'">
                               <label for="exampleInput">Area Name</label>
                               <input type="text" ng-model="area.areaName" class="form-control underline">
                       </div>
                       <div class="form-group">
                               <label for="exampleInput">Description</label>
                               <input type="text" ng-model="area.description" class="form-control underline">
                       </div>

     </form>

      </div>
      <div class="modal-footer">
        <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">OK</button>
        <button type="button" ng-click="cancel()" class="btn">Cancel</button>
      </div>
    </div>
  </div>
</div>
                   
                     