
	<div ng-cloak ng-controller="updateIconController as updateIconCtrl" ng-submit="updateIcon()">
      <div class="container">
        <div class="content" >
        <h1>Edit an icon</h1>
        <a href="#/viewIcon"><button>Back to view icons</button></a>

        <form>
        <div class="form-group" >
               Select an icon type:
                <select ng-model="iconType" ng-options="x.iconType as x.name for x in iconTypes | filter:iconType" ng-readonly="iconType">
    </select>
        </div>
        <div><img  class="svgtest" src="{{icon.iconPath}}" alt="{{icon.iconPath}}" width="50px" height="50px"> </div>
         <div>Icon:
      	<input type="file" ngf-select ng-model="picFile" name="file"    
             accept="image/*" ngf-max-size="10MB" required
             ngf-model-invalid="errorFile">
      		<i ng-show="myForm.file.$error.required">*required</i><br>
     		 <i ng-show="myForm.file.$error.maxSize">File too large 
          {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
      <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb" height="100px" width= "100px"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
  		 </div>
       <button  ng-disabled="!myForm.$valid" 
              ng-click="updateIcon()"><input type="submit" value="Submit"></button>
       <br>
     
        </form>
        </div>
      </div>
    </div>
