<div class="row" ng-controller="updateRateController as updateRateCtrl" ng-controller="progressCtrl">
 <div class="clearfix">
                         <ol class="breadcrumb no-bg no-m-t">
                             <li class="active"><i class="glyphicon glyphicon-dashboard"></i></li>
                             <li><a ui-sref="IFMS.workspace">Workspace</a></li>
                             <li><a ui-sref="IFMS.viewAllRates">View Rates</a></li>
                             <li><a>Update Rate</a></li>
                         </ol>
         </div>
       <div class="col-md-9">
 			<div class="panel panel-primary">
 
 				<div class="panel-heading">
 					<h3 class="panel-title">Update building		  
 						<div class="panel-control pull-right">
 							<a class="panelButton"><i class="fa fa-refresh"></i></a>
 							<a class="panelButton"><i class="fa fa-minus"></i></a>
 							<a class="panelButton"><i class="fa fa-remove"></i></a>
 						</div>
 					</h3>
 				</div>
 				<div class="panel-body">
          <form>
          <div class="form-group">
                 <label for="exampleInput">Rate</label>
                  <input type="number" step="0.01" min="0" ng-model="special.rate" class="form-control underline" id="specialRate" placeholder="Enter special rate">
          </div>
          <div class="form-group">
                 <label for="exampleInput">Description</label>
                       <input type="text" ng-model="special.description" class="form-control underline" id="description" placeholder="Enter description">
          </div>
          <div class="form-group">
                 <label for="exampleInput">Period</label>
                             <input type="text" ng-model="special.period" class="form-control underline" readonly>
          </div>
         <p>Want to change period?: <input type="checkbox" ng-model="myVar"></p>
         <div ng-show="myVar">
         <select ng-model="myDropDown">   
          <option value="period">Please Select A Period</option>     
           <option value="month">Any Month?</option>
           <option value="weekend">All Weekends?</option>
           <option value="date">Any Specific Date?</option>
        </select><br>
          <div ng-show="myDropDown=='month'" >
           <label for="month" class="control-label">Select Month</label> <select
                            name="month" ng-model="special.period" ng-options="x.month as x.name for x in months"
                            class="form-control">
               </select>
        </div>
     <div ng-show="myDropDown=='weekend'"> 
                    <label for="weekend" class="control-label"></label> <select
  						name="weekend" ng-model="special.period" ng-options="x.weekend as x.name for x in weekends"					class="form-control underline">
  					</select>  
      </div>
      
      <div ng-show="myDropDown=='date'">
               <label for="exampleInput">Please Enter a date</label>
                <input type="datetime-local" step="86400" ng-model="special.period" class="form-control underline" id="period" placeholder="Enter date">
      </div>
   </div>
           <button class="progress-button primary-progress" data-style="shrink" data-horizontal ng-click = "updateRate()">Submit</button> &nbsp;
                      <!--   <button ng-click = "updateBuilding()"><input type="submit" value="Submit"></button>-->
                       </form>      
 				</div>
 			</div>
          </div>
</div>