
	<div ng-cloak ng-controller="updateEController as updateECtrl" data-ng-init="init()">
      <div class="container">
        <div class="content" >
        <h1>Update Event</h1>
        <a href = "/#/viewAllEventsEx"><button>GO BACK TO VIEW ALL Events</button></a>
        <p class="tagline">Update your event here</p>
        <!--  <button ng-click = "getEventById()"><input type="submit" value="Refresh"></button>-->
        <form>
         <div class="form-group">
               <label for="exampleInput">Event Title</label>
               <input type="text" ng-model="event.event_title" class="form-control" placeholder="Enter event title">
        </div>
        <div class="form-group">
               <label for="exampleInput">Units Selected Previously</label>
               <button ng-click="resetBookings()">Reset to last booking</button>
               	<div class="form-group">
					<ul class="list-group" name="units">
						<li ng-repeat="selectedBookingsUnit in selectedBookingsUnits" 
							class="list-group-item">{{selectedBookingsUnit.unitNumber}}
							<button ng-click="deleteBookingUnit(selectedBookingsUnit)">
								<i class="glyphicon glyphicon-trash"></i>
							</button>
						</li>
					</ul>
				</div>
				 <div ng-mouseover="checkAvail()" >
				    <p>Put mouse over to check Availability<br>
				     Available?  {{avail}}</p>			   
				    </div>
        </div>
        <p>Want to change unit(s)?: <input type="checkbox" ng-model="myVar"></p>
        <div ng-show="myVar">
       	<div class="form-group">
					<label for="building" class="control-label">Select Building</label> <select
						name="building" ng-model="currentlySelectedBuilding" ng-options="x.id as x.name for x in buildings"
						class="form-control">
					</select>
					<!-- <p>Building ID <input ng-model="currentlySelectedBuilding"> Selected</p>-->
					<button ng-click="getLevel(currentlySelectedBuilding)">Apply</button>
				</div>
                
                <div class="form-group">
					<label for="level" class="control-label">Select Level</label> <select
						name="level" ng-model="currentlySelectedLevel" ng-options="x.id as x.levelNum for x in levels"
					  class="form-control">
					</select>
					<!--  <p>Level ID <input ng-model="currentlySelectedLevel"> Selected</p>-->
					<button ng-click="getUnit(currentlySelectedLevel)">Apply</button>
				</div>

			<div class="form-group">
					<label for="unit" class="control-label">Select Unit</label> <select
						name="unit" ng-model="currentlySelectedUnit" ng-options="x as x.unitNumber for x in units"
						ng-change="selectUnit()" class="form-control">
							
					</select>
				  <!-- <button ng-click = "checkAvail()">Check Availability</button>	-->
		</div> 
        </div>
        <div class="form-group">
               <label for="exampleInput">Event Content</label>
               <input type="text" ng-model="event.event_content" class="form-control" placeholder="Enter event content">
        </div>
        <div class="form-group">
               <label for="exampleInput">Event Description</label>
               <input type="text" ng-model="event.event_description" class="form-control" placeholder="Enter event description">
        </div>
      <div class="form-group">
               <label for="exampleInput">Event Start Date</label>
               <input type="datetime-local" ng-model="event.event_start_date" class="form-control" placeholder="Enter start date">
       </div>
       <div class="form-group">
               <label for="exampleInput">Event End Date</label>
               <input type="datetime-local" ng-model="event.event_end_date" class="form-control" placeholder="Enter end date">
       </div>
       <div class="form-group">
               <label for="exampleInputFile">File input</label>
               <input type="file" ng-model="building.filePath" id="exampleInputFile">
               <p class="help-block">Please select a file</p>
      </div>
      <button ng-click = "updateEvent()"><input type="submit" value="Submit"></button>
      
      </form>      
        </div>
      </div>
    </div>
