<a  ng-click="remove(x,$index)">Delete</a> 
 <td>id: {{ x.id }} </td>
<td>{{x.unit.width}}</td>
     <td>{{x.unit.length}}</td>
      <td>{{x.square.color}}</td>
       <td>{{x.unitNumber}}</td>
        <td>{{x.description}}</td>
<form >

                        <div class="form-group">
                               <label for="exampleInput">Length (in meter)</label>
                               <input type="number" min="1" max="999" ng-model="x.unit.length" class="form-control underline">
                        </div>
                        <div class="form-group">
                               <label for="exampleInput">Width (in meter)</label>
                               <input type="number" min="1" max="999" ng-model="x.unit.width" class="form-control underline">
                        </div>
                        <div class="form-group">
                               <label for="exampleInput">color</label>
                               <input type="text" ng-model="x.square.color" class="form-control underline">
                        </div>
                        <div class="form-group">
                               <label for="exampleInput">Unit Number</label>
                               <input type="text" ng-model="x.unitNumber" class="form-control underline">
                       </div>
                       <div class="form-group">
                               <label for="exampleInput">Description</label>
                               <input type="text" ng-model="x.description" class="form-control underline">
                       </div>

                       
                      <button class="progress-button primary-progress" data-style="shrink" data-horizontal>Submit</button> &nbsp;
                       <!--   <button ng-click = "updateBuilding()"><input type="submit" value="Submit"></button>-->
                      </form>      
