
	<div ng-cloak ng-controller="rateController as rateCtrl">
        <div class="clearfix">
                            <ol class="breadcrumb no-bg no-m-t">
                                <li class="active"><i class="glyphicon glyphicon-dashboard"></i></li>
                                <li><a ui-sref="dashboard.workspace">Workspace</a></li>
                                <li><a>View Rates</a></li>
                            </ol>
        </div>
      <div class="col-md-9">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Rates	  
						<div class="panel-control pull-right">
						
							<a class="panelButton"><i class="fa fa-refresh"></i></a>
							<a class="panelButton"><i class="fa fa-minus"></i></a>
							<a class="panelButton"><i class="fa fa-remove"></i></a>
							
						</div>
					</h3>
				</div>
				<div class="panel-body" >
					<table class="table table-hover">              
                        <thead>
                           <tr>
                           <td><i></i> ID </td>
                           <td><i></i> Rate </td>
                           <td><i></i> Description </td>
                           <td><i></i> Period </td>
                           <td>Actions</td>
                            <td></td>
                           </tr>
                        </thead>
                        <tbody>
                         <tr ng-repeat="x in rates | orderBy:'id'">
                         <td>{{ x.id }}</td>
                         <td>{{ x.rate }}</td>
                         <td>{{ x.description }}</td>
                         <td>{{ x.period }}</td>
                         <td><a ng-model="myValue" ui-sref="dashboard.updateSpecialRate" ng-click="updateSpecialRate(x)">Update</a></td>
                          <td><a ng-model="myValue" ui-sref="dashboard.deleteSpecialRate"  ng-click="deleteSpecialRate(x)">Delete</a></td>
                         </tr>
                         </tbody>
                    </table>			
				</div>
			</div>
		</div>
		<div class="col-md-3">
		<br>
		<br>
		<br>
		 <a ui-sref="dashboard.addSpecialRate" tooltip-placement="right" tooltip="Add a new special rate"><button type="button" class="btn btn-primary btn-circle btn-lg"><i class="glyphicon glyphicon-plus"></i></button></a>  
			</div>
	</div>
