<div class="clearfix">
	<ol class="breadcrumb no-bg no-m-t">
		<li class="active"><i class="glyphicon glyphicon-dashboard"></i></li>
		<li><a href="#/dashboard">Workspace</a></li>
		<li><a>View Data Visualisation</a></li>
	</ol>
</div>

<div class="row">
	<div class="col-lg-9" id="screenshotChart">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					Data Visualisation (Links don't work!!)
					<div class="panel-control pull-right">

						<a class="panelButton"><i class="fa fa-refresh"></i></a> <a
							class="panelButton"><i class="fa fa-minus"></i></a> <a
							class="panelButton"><i class="fa fa-remove"></i></a>

					</div>
				</h3>
			</div>
			<div class="panel-body">

				<div class=" col-lg-2">

					<div class="panel panel-primary">

						<div class="panel-heading">
							<h3 class="panel-title text-center">
								Select Event
								<div class="panel-control pull-right"></div>
							</h3>
						</div>
					</div>

					<div class="panel panel-info">

						<div class="panel-heading">
							<div class="dropdown">
								<button class="btn btn-info btn-lg dropdown-toggle"
									type="button" id="dropdownMenu1" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="true">
									Event <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									<li><a href="#">Jay Chou 2016</a></li>
									<li><a href="#">IT Show 2016</a></li>
								</ul>
							</div>
						</div>
					</div>




					<div class="panel panel-info">


						<div class="panel panel-primary">

							<div class="panel-heading">
								<h3 class="panel-title text-center">
									Select Time Period
									<div class="panel-control pull-right">
										<a class="panelButton"><i class="fa fa-refresh"></i></a> <a
											class="panelButton"><i class="fa fa-minus"></i></a> <a
											class="panelButton"><i class="fa fa-remove"></i></a>
									</div>
								</h3>
							</div>
						</div>
						<div class="panel-heading">
							<div class="dropdown">
								<button class="btn btn-info btn-lg dropdown-toggle"
									type="button" id="dropdownMenu1" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="true">
									Date <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									<li><a href="#">Show calendar here </a></li>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		
		
		<div class="col-lg-12" id="pie-chart">
			<div class="panel panel-primary">

				<div class="panel-heading">
					<h3 class="panel-title">
						Percentage of event types
						<div class="panel-control pull-right">
							<a class="panelButton"><i class="fa fa-refresh"></i></a> <a
								class="panelButton"><i class="fa fa-minus"></i></a> <a
								class="panelButton"><i class="fa fa-remove"></i></a>
						</div>
					</h3>

				</div>
				<div class="panel-body">
					<c3chart bindto-id="pie-plot1-chart" ng-if="eventTypeCount">
					<chart-column column-id="Conert"
						column-values="{{eventTypeCount.concert}}" column-type="pie" /> <chart-column
						column-id="Conference"
						column-values="{{eventTypeCount.conference}}" column-type="pie" />
					<chart-column column-id="Fair"
						column-values="{{eventTypeCount.fair}}" column-type="pie" /> <chart-column
						column-id="Family" column-values="{{eventTypeCount.family}}"
						column-type="pie" /> <chart-column column-id="Lifestyle"
						column-values="{{eventTypeCount.lifestyle}}" column-type="pie" />
					<chart-column column-id="Seminar"
						column-values="{{eventTypeCount.seminar}}" column-type="pie" /> 
						 <chart-legend show-legend="true" legend-position="right"/> </c3chart>


				</div>


			</div>

		</div>

						<div class="col-lg-12" id="pie-chart">
			<div class="panel panel-primary">

				<div class="panel-heading">
					<h3 class="panel-title">
						Number of events in the last three month
						<div class="panel-control pull-right">
							<a class="panelButton"><i class="fa fa-refresh"></i></a> <a
								class="panelButton"><i class="fa fa-minus"></i></a> <a
								class="panelButton"><i class="fa fa-remove"></i></a>
						</div>
					</h3>

				</div>
				<div class="panel-body">
	<div id="chart"></div>


				</div>


			</div>

		</div>

	</div>


</div>
<a onclick="javascript:window.print();"
	class="btn btn-bordered btn-primary hidden-print pull-right"> Print
	<i class="fa fa-print"></i>
</a>
<div class="col-md-1">
	<br> <a ng-click="downloadPlan()" id="download"
		tooltip-placement="right" tooltip="Download Floor Plan"><button
			type="button" class="btn btn-primary btn-circle btn-lg">
			<i class="glyphicon glyphicon-download-alt"></i>
		</button></a>

</div>
