
	<div ng-cloak ng-controller="ticketSaleDetailsController as ticketSaleDetailsCtrl" >

	 <div class="clearfix">
                            <ol class="breadcrumb no-bg no-m-t">
                                <li class="active"><i class="glyphicon glyphicon-dashboard"></i></li>
                                <li><a ui-sref="IFMS.workspace">Workspace</a></li>
                                <li><a ui-sref="IFMS.viewTicketSales">View Ticket Sales</a></li>
                                <li><a>View Ticket Sale Details </a></li>
                            </ol>
        </div>
      <div class="col-md-9">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Ticket Sale Details
						<div class="panel-control pull-right">
						
							<a class="panelButton"><i class="fa fa-refresh"></i></a>
							<a class="panelButton"><i class="fa fa-minus"></i></a>
							<a class="panelButton"><i class="fa fa-remove"></i></a>
							
						</div>
					</h3>
				</div>
				<div class="panel-body" >
				<form class="form-horizontal">
				 <div class="form-group">
							<label class="col-sm-4 control-label">Event ID</label>
							<div class="col-sm-8">
								<p class="form-control-static" ng-bind="event.id"></p>
							</div>
		         </div>
		         <div class="form-group">
							<label class="col-sm-4 control-label">Event Start Date</label>
							<div class="col-sm-8">
								<p class="form-control-static" ng-bind="event.event_start_date"></p>
							</div>
						</div>
                 
                 <div class="form-group">
							<label class="col-sm-4 control-label">Event End Date</label>
							<div class="col-sm-8">
								<p class="form-control-static" ng-bind="event.event_end_date"></p>
							</div>
						</div>
                 
                 <div class="form-group">
							<label class="col-sm-4 control-label">Event Title</label>
							<div class="col-sm-8">
								<p class="form-control-static" ng-bind="event.event_title"></p>
							</div>
						</div>
                
                 <div class="form-group">
							<label class="col-sm-4 control-label">Event Type</label>
							<div class="col-sm-8">
								<p class="form-control-static" ng-bind="event.event_type"></p>
							</div>
						</div>
                 
                 
                 <div class="form-group">
							<label class="col-sm-4 control-label">Event Description</label>
							<div class="col-sm-8">
								<p class="form-control-static" ng-bind="event.event_description"></p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Total Revenue</label>
							<div class="col-sm-8">
								<p class="form-control-static" ng-bind="event.revenue"></p>
							</div>
						</div>
               </form> 	
					<table class="table table-hover">              
                        <thead>
                           <tr>
                           <th><i></i> Category </th>
                           <th><i></i> Number Of Tickets Sold </th>
                            <th><i></i> Price Per Ticket </th>
                            <th><i></i> Total Revenue </th>
                           </tr>
                         <tbody>
                         <tr ng-repeat="x in sales | orderObjectBy:order_item:order_reverse">
                            <td>{{ x.cat }}</td>
                            <td>{{ x.num }}</td>
                            <td>{{ x.price }}</td>
                            <td>{{ x.revenue }}</td>
                       </tr>
                         </tbody>
                         </thead>
                    </table>			
				</div>
			</div>
		</div>
	</div>
	
