
	<div ng-cloak ng-controller="policyController as policyCtrl">
        <div class="clearfix">
                            <ol class="breadcrumb no-bg no-m-t">
                                <li class="active"><i class="glyphicon glyphicon-dashboard"></i></li>
                                <li><a ui-sref="dashboard.workspace">Workspace</a></li>
                                <li><a>View Payment Policy</a></li>
                            </ol>
        </div>
      <div class="col-md-9">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Payment Policy	  
						<div class="panel-control pull-right">
						
							<a class="panelButton"><i class="fa fa-refresh"></i></a>
							<a class="panelButton"><i class="fa fa-minus"></i></a>
							<a class="panelButton"><i class="fa fa-remove"></i></a>
							
						</div>
					</h3>
				</div>
				<div class="panel-body" >
					<table class="table table-hover">              
                        <thead>
                           <tr>
                           <th><i></i> ID </th>
                           <th><i></i> Deposit Rate </th>
                           <th><i></i> Number Of Subsequent Payments </th>
                           <th><i></i> Number Of Due Days </th>
                           <th><i></i> Period </th>
                           <th>Actions</th>
                       
                           </tr>
                         <tbody>
                         <tr>
                      <td ng-bind="policy.id"></td>
                      <td ng-bind="policy.depositRate"></td>
                       <td ng-bind="policy.subsequentNumber"></td>
                        <td ng-bind="policy.numOfDueDays"></td>
                        <td ng-bind="policy.interimPeriod"></td>
                       <td>
                         <a  ui-sref="dashboard.updatePaymentPolicy" ng-click="passPaymentPolicy(policy)" tooltip-placement="top" tooltip="Update Policy"><i class="glyphicon glyphicon-pencil"></i></a>
                         <a  ng-click="deletePolicy()" tooltip-placement="top" tooltip="Delete Policy"><i class="glyphicon glyphicon-trash"></i></a>
                         </td>
                         <tr>
                         </tbody>
                         </thead>
                    </table>			
				</div>
			</div>
		</div>
		<div class="col-md-3">
		<br>
		<br>
		<br>
		 <a ui-sref="dashboard.addPaymentPolicy" tooltip-placement="right" tooltip="Add a payment policy"><button type="button" class="btn btn-primary btn-circle btn-lg"><i class="glyphicon glyphicon-plus"></i></button></a>  
			</div>
	</div>
