		<div class="panel panel-primary" >
			<div class="panel-heading">
				<h3 class="panel-title">
					Image
					<div class="panel-control pull-right">

						<a class="panelButton"><i class="fa fa-refresh"></i></a> <a
							class="panelButton"><i class="fa fa-minus"></i></a> <a
							class="panelButton"><i class="fa fa-remove"></i></a>

					</div>
				</h3>
			</div>
			<div class="panel-body">

				<div>
					<img ng-show="building.picPath" class="svgtest" src="{{building.picPath}}"
						style='height: 100%; width: 100%; object-fit: contain'>
					</td>
				</div>



			</div>
		</div>