 <link rel="stylesheet" href="bower_components/angular-gridster/dist/angular-gridster.css"/>
 <link rel="stylesheet" href="../css/floorplan.css" type="text/css" />
 <link rel="stylesheet" href="../css/floorplanGrid.css" type="text/css" />
       <div >    
           
<div class="clearfix">
		                        <ol class="breadcrumb no-bg no-m-t">
		                            <li class="active"><i class="glyphicon glyphicon-dashboard"></i></li>
		                            <li><a ui-sref="dashboard.workspace">Workspace</a></li>
		                            <li><a ui-sref="dashboard.viewAllEventsEx">View Events</a></li>
		                             <li><a ui-sref="dashboard.viewBookingEx" ng-click="passEvent()" >View Bookings</a></li>
		                             
		                             <li><a>View Unit Plan</a></li>
		                        </ol>
		</div> 
           
           <div class="col-md-6" id="widthForFloorPlan">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Unit Plan	  
						<div class="panel-control pull-right">
							<a class="panelButton"><i class="fa fa-refresh"></i></a>
							<a class="panelButton"><i class="fa fa-minus"></i></a>
							<a class="panelButton"><i class="fa fa-remove"></i></a>
						</div>
					</h3>
				</div>
			</div>    
               <div class="panel-body" id="panelheadGrid">
<div gridster="gridsterOpts" id="glassboxGrid" ng-style="{height: {{unitWidthGrid}} + 'px', width: {{unitLengthGrid}} + 'px'}">
    <ul>
        <li gridster-item="area"  id="{{area.square.id}}"  ng-repeat="area in areas"  ng-dblclick="showModal(area,$parent)"  ng-style="{'background-color':'{{area.square.color}}'}" ><p tooltip-placement="top" tooltip="Double click to view details of unit {{unit.unitNumber}}"> {{area.areaName}}
                          <img  class="svgtest" ng-src="{{area.square.type||area.square.icon.iconPath}}"  alt="icon"></p></li>
    </ul>
</div>
</div>
          
  </div>

 <div class="col-md-3">
     <br>
      <br>
       <br>
     <a ui-sref="dashboard.createUnitPlanEx" ng-click="editUnitPlan()" tooltip-placement="right" tooltip="Edit unit plan"><button type="button" class="btn btn-primary btn-circle btn-lg"><i class="glyphicon glyphicon-pencil"></i></button></a>
     </div>
            <div class="col-md-3">
     <br>    
     <a ng-click="downloadPlan()"  id="download" tooltip-placement="right" tooltip="Download Floor Plan"><button type="button" class="btn btn-primary btn-circle btn-lg"><i class="glyphicon glyphicon-download-alt"></i></button></a>
    
    </div>  
         </div>
           