
	<div ng-cloak ng-controller="paymentController as paymentCtrl" >
	 <div class="clearfix">
                            <ol class="breadcrumb no-bg no-m-t">
                                <li class="active"><i class="glyphicon glyphicon-dashboard"></i></li>
                                <li><a ui-sref="dashboard.workspace">Workspace</a></li>
                                <li><a>View Payment Plans</a></li>
                            </ol>
        </div>
      <div class="col-md-9">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Payment Plans  
						<div class="panel-control pull-right">
						
							<a class="panelButton"><i class="fa fa-refresh"></i></a>
							<a class="panelButton"><i class="fa fa-minus"></i></a>
							<a class="panelButton"><i class="fa fa-remove"></i></a>
							
						</div>
					</h3>
				</div>
				<div class="panel-body" >
					<table class="table table-hover">              
                        <thead>
                           <tr>
                           <th><i></i> ID </th>
                            <th><i></i> Event Owner </th>
                            <th><i></i> Total </th>
                            <th><i></i> Deposit </th>
                            <th><i></i> NO of Subsequent Payments</th>
                           <th>Actions</th>
                       
                           </tr>
                         <tbody>
                         <tr ng-repeat="x in plans | filter:paymentPlanNull|orderObjectBy:order_item:order_reverse">
                            <td>{{ x.id }}</td>
                            <td>{{ x.owner }}</td>
                            <td>{{ x.total }}</td>
                            <td>{{ x.deposit }}</td>
                            <td>{{ x.subsequentNumber }}</td>
                            <td>
                            <a ui-sref="dashboard.updatePaymentPlan" ng-click="passPaymentPlan(x)" tooltip-placement="top" tooltip="Update Payment Plan"><i class="glyphicon glyphicon-pencil"></i></a>
                            <a ng-show="checkStatus(x) && !showDiv" ng-click="generateInvoice(x.id); showDiv=true" tooltip-placement="top" tooltip="Generate Invoice For Subsequent Paument"><i class="glyphicon glyphicon-list"></i></a> 
                           </td>
                        </tr>
                         </tbody>
                         </thead>
                    </table>			
				</div>
			</div>
		</div>
		<div class="col-md-3">
		<br>
		<br>
		<br>
		 <a ui-sref="dashboard.addPaymentPlan" tooltip-placement="right" tooltip="Add a payment plan"><button type="button" class="btn btn-primary btn-circle btn-lg"><i class="glyphicon glyphicon-plus"></i></button></a>  
         <a ng-click="generateReport()" tooltip-placement="right" tooltip="Generate Monthly Report"><button type="button" class="btn btn-primary btn-circle btn-lg"><i class="glyphicon glyphicon-th-list"></i></button></a>  			
			</div>
	</div>
	
