<div class="clearfix">
                        <ol class="breadcrumb no-bg no-m-t">
                            <li class="active"><i class="glyphicon glyphicon-dashboard"></i></li>
                            <li><a href="#/dashboard">Workspace</a></li>
                            <li><a>View Data Visualisation</a></li>
                        </ol>
</div>

<div class="row">
<div class="col-lg-9">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Data Visualisation (Links don't work!!)
						<div class="panel-control pull-right">
						
							<a class="panelButton"><i class="fa fa-refresh"></i></a>
							<a class="panelButton"><i class="fa fa-minus"></i></a>
							<a class="panelButton"><i class="fa fa-remove"></i></a>
							
						</div>
					</h3>
				</div>
				<div class="panel-body" >
				
		<div class=" col-lg-2">
		
		<div class="panel panel-primary">

				<div class="panel-heading">
				<h3 class="panel-title text-center">Select Event	  
						<div class="panel-control pull-right">
							
						</div>
					</h3>
				</div>
				</div>
				
				<div class="panel panel-info">
				
				<div class="panel-heading">
					<div class="dropdown">
			        <button class="btn btn-info btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			            Event
			            <span class="caret"></span>
			        </button>
			        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			            <li><a href="#">Jay Chou 2016</a></li>
			            <li><a href="#">IT Show 2016</a></li>
			        </ul>
			    </div>
				</div>
				</div>
				
				
				
				
				<div class="panel panel-info">
				
				
				<div class="panel panel-primary">

				<div class="panel-heading">
				<h3 class="panel-title text-center">Select Time Period	  
						<div class="panel-control pull-right">
							<a class="panelButton"><i class="fa fa-refresh"></i></a>
							<a class="panelButton"><i class="fa fa-minus"></i></a>
							<a class="panelButton"><i class="fa fa-remove"></i></a>
						</div>
					</h3>
				</div>
				</div>
				<div class="panel-heading">
					<div class="dropdown">
			        <button class="btn btn-info btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			            Date
			            <span class="caret"></span>
			        </button>
			        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			            <li><a href="#">Show calendar here
			            </a></li>
			        </ul>
			    </div>
				</div>
				</div>
				
		</div>
		
		<div class="col-lg-9" id="pie-chart" ng-controller="ChartCtrl">
			<div class="panel panel-primary">

				<div class="panel-heading">
					<h3 class="panel-title">View Vacancy Rate	  
						<div class="panel-control pull-right">
							<a class="panelButton"><i class="fa fa-refresh"></i></a>
							<a class="panelButton"><i class="fa fa-minus"></i></a>
							<a class="panelButton"><i class="fa fa-remove"></i></a>
						</div>
					</h3>

				</div>

				<div class="panel-body">
					<div>
						<canvas id="pie" 
			              class="chart chart-pie chart-xs ng-isolate-scope" 
			              data="pie.data" labels="pie.labels" 
			              colours="pie.colours" 
			              height="430" width="860" 
			              style="display: block; 
			              width: 688px; height: 344px;">
			        	</canvas>
			        </div>
				</div>
			</div>

		</div>			
		<div class="col-lg-1">
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	<button type="button" class="btn btn-primary btn-circle btn-lg" context-menu="xaxis"><i class="glyphicon glyphicon-retweet"></i></button>
		</div>
				</div>
			</div>

		</div>
		
	</div>