<div class="clearfix">
	<ol class="breadcrumb no-bg no-m-t">
		<li class="active"><i class="glyphicon glyphicon-dashboard"></i></li>
		<li><a ui-sref="dashboard.workspace">Workspace</a></li>
		<li><a ng-click="haha()">View Data Report</a></li>
		<li><a ng-hide="showAll">View a Chart</a></li>
	</ol>
</div>
<div class="panel panel-default">
	<div class="panel-body">
		<div class="invoice">
			<div class="row">
				<div class="col-md-6">
					<span class="text text-muted">&nbsp;Data Visualisation
						Report</span>
				</div>
				<div class="col-md-6 text-right">
					<p class="text-dark">
						{{date | date:'yyyy-MM-dd'}} <br>
						<small class="text-light"> By {{userName}}, <strong
							class="text-dark">{{clientName}}</strong>
						</small>
					</p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-6" ng-show="showAll||show1">
					<div id="pie-chart" >
						<div class="panel panel-primary">
							<div class="panel-heading" ng-click="show1=true;showAll=false;">
								<h3 class="panel-title">
									Percentage of event types
									<div class="panel-control pull-right">
										<a class="panelButton"><i class="fa fa-refresh"></i></a> <a
											class="panelButton"><i class="fa fa-minus"></i></a> <a
											class="panelButton"><i class="fa fa-remove"></i></a>
									</div>
								</h3>
							</div>
							<div class="panel-body">
								<c3chart bindto-id="pie-plot1-chart" ng-if="eventTypeCount">
								<chart-column column-id="Conert"
									column-values="{{eventTypeCount.concert}}" column-type="pie" />
								<chart-column column-id="Conference"
									column-values="{{eventTypeCount.conference}}" column-type="pie" />
								<chart-column column-id="Fair"
									column-values="{{eventTypeCount.fair}}" column-type="pie" /> <chart-column
									column-id="Family" column-values="{{eventTypeCount.family}}"
									column-type="pie" /> <chart-column column-id="Lifestyle"
									column-values="{{eventTypeCount.lifestyle}}" column-type="pie" />
								<chart-column column-id="Seminar"
									column-values="{{eventTypeCount.seminar}}" column-type="pie" />
								<chart-legend show-legend="true" legend-position="right" /> </c3chart>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6" ng-show="showAll||show2">
					<div id="eventThreeMonth">
						<div class="panel panel-primary">
							<div class="panel-heading" ng-click="show2=true;showAll=false">
								<h3 class="panel-title">
									Number of events in the last three month
									<div class="panel-control pull-right">
										<a class="panelButton"><i class="fa fa-refresh"></i></a> <a
											class="panelButton"><i class="fa fa-minus"></i></a> <a
											class="panelButton"><i class="fa fa-remove"></i></a>
									</div>
								</h3>
							</div>
							<div class="panel-body">
								<div id="chartEventTime"></div>
							</div>
						</div>
					</div>
				</div>


			</div>
			<hr>
			<div ng-controller="LineChartCtrl as lineChartCtrl"> 
				<div class="row" ng-show="showAll||show3">
					<div class="col-lg-12" id="pie-chart" >
						<div class="panel panel-primary">
							<div class="panel-heading" ng-click="$parent.show3=true;$parent.showAll=false;">
								<h3 class="panel-title">
									Occupancy Rate for The Whole Year
									<div class="panel-control pull-right">
										<a class="panelButton"><i class="fa fa-refresh"></i></a> <a
											class="panelButton"><i class="fa fa-minus"></i></a> <a
											class="panelButton"><i class="fa fa-remove"></i></a>
									</div>
								</h3>
							</div>
							<div></div>
							<div class="panel-body">
								<div id="chart1"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" ng-show="showAll||show4">
					<div class="col-md-6" >
						<div id="ocupancyRateUnitsSelected">
							<div class="panel panel-primary">
								<div class="panel-heading" ng-click="$parent.show4=true;$parent.showAll=false;">
									<h3 class="panel-title">
										Ocupancy Rate for Units Selected
										<div class="panel-control pull-right">
											<a class="panelButton"><i class="fa fa-refresh"></i></a> <a
												class="panelButton"><i class="fa fa-minus"></i></a> <a
												class="panelButton"><i class="fa fa-remove"></i></a>
										</div>
									</h3>
								</div>
								<div class="panel-body">
									<div id="chartOccupancy"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div id="">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title">
										Select Units
										<div class="panel-control pull-right">
											<a class="panelButton"><i class="fa fa-refresh"></i></a> <a
												class="panelButton"><i class="fa fa-minus"></i></a> <a
												class="panelButton"><i class="fa fa-remove"></i></a>
										</div>
									</h3>
								</div>
								<div class="panel-body">
									<form>
										<div class="form-group">
											<label for="exampleInput">Event Start Date</label> <input
												type="datetime-local" step="86400"
												ng-model="event.event_start_date"
												ng-change='checkDateErr(event.event_start_date,event.event_end_date)'
												class="form-control underline"
												placeholder="Enter start date">
										</div>
										<div class="form-group">
											<label for="exampleInput">Event End Date</label> <input
												type="datetime-local" step="86400"
												ng-model="event.event_end_date"
												ng-change='checkDateErr(event.event_start_date,event.event_end_date)'
												class="form-control underline" placeholder="Enter end date">
										</div>
										<div class="form-group">
											<label for="building" class="control-label">Select
												Building</label> <select name="building"
												ng-model="currentlySelectedBuilding"
												ng-options="x.id as x.name for x in buildings"
												ng-change="getLevel(currentlySelectedBuilding)"
												class="form-control underline">
											</select>
										</div>

										<div class="form-group">
											<label for="level" class="control-label">Select Level</label>
											<select name="level" ng-model="currentlySelectedLevel"
												ng-options="x.id as x.levelNum for x in levels"
												ng-change="getUnit(currentlySelectedLevel)"
												class="form-control underline">
											</select>
										</div>
										<div class="form-group">
											<ul class="list-group" name="units">
												<li ng-repeat="unit in selectedUnits"
													class="list-group-item" style="display: inline;">{{unit.unitNumber}}
													<button ng-click="deleteUnit(unit);">
														<i class="glyphicon glyphicon-trash"></i>
													</button>
												</li>
											</ul>
										</div>
										<div class="form-group">
											<label for="unit" class="control-label">Select Unit</label> <select
												name="unit" ng-model="currentlySelectedUnit"
												ng-options="x as x.unitNumber for x in units| filter: { rentable : true }"
												ng-change="selectUnit();" class="form-control underline">
											</select>
										</div>
										<button class="progress-button primary-progress"
											data-style="shrink" data-horizontal
											ng-click="generateChart()">Generate Chart</button>
										&nbsp;
									</form>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>


				<div class="row"  ng-show="showAll||show5">
					<div class="col-md-6">
						<div id="">
							<div class="panel panel-primary">
								<div class="panel-heading" ng-click="show5=true;showAll=false">
									<h3 class="panel-title">
										Event Count Over a Period
										<div class="panel-control pull-right">
											<a class="panelButton"><i class="fa fa-refresh"></i></a> <a
												class="panelButton"><i class="fa fa-minus"></i></a> <a
												class="panelButton"><i class="fa fa-remove"></i></a>
										</div>
									</h3>
								</div>
								<div class="panel-body">
									<div id="chartEventCountTimeCust"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div id="">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title">
										Select Dates
										<div class="panel-control pull-right">
											<a class="panelButton"><i class="fa fa-refresh"></i></a> <a
												class="panelButton"><i class="fa fa-minus"></i></a> <a
												class="panelButton"><i class="fa fa-remove"></i></a>
										</div>
									</h3>
								</div>
								<div class="panel-body">
									<form>
										<div class="form-group">
											<label for="exampleInput">Start Date</label> <input
												type="datetime-local" step="86400"
												ng-model="start_date"
												ng-change='checkDateErr(start_date,end_date)'
												class="form-control underline"
												placeholder="Enter start date">
										</div>
										<div class="form-group">
											<label for="exampleInput">End Date</label> <input
												type="datetime-local" step="86400"
												ng-model="end_date"
												ng-change='checkDateErr(start_date,end_date)'
												class="form-control underline" placeholder="Enter end date">
										</div>
										<button class="progress-button primary-progress"
											data-style="shrink" data-horizontal
											ng-click="generateEventTimeChartCust()">Generate
											Chart</button>
										&nbsp;
									</form>
								</div>
							</div>
						</div>
					</div>

				</div>
	

			<div class="row">
				<div class="col-sm-12 invoice-block">

					<br> <a onclick="javascript:window.print();" ng-click="printed=true;"
						class="btn btn-bordered btn-primary hidden-print pull-right">
						Print <i class="fa fa-print"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<growl-notifications> <growl-notification
			ng-if="true"
			class="growl-success alert-success fading"> <a
			href="#" ng-click="$growlNotification.remove()" class="close"><i
			class="fa fa-times"></i></a> Double click on panel to view that chart!</growl-notification>  </growl-notifications>
