	<div ng-cloak ng-controller="balanceController as balanceCtrl" >
	 <div class="clearfix">
                            <ol class="breadcrumb no-bg no-m-t">
                                <li class="active"><i class="glyphicon glyphicon-dashboard"></i></li>
                                <li><a ui-sref="IFMS.workspace">Workspace</a></li>
                                <li><a>View Outstanding Balance For All Organisers</a></li>
                            </ol>
        </div>
      <div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Outstanding Balance 
						<div class="panel-control pull-right">
						
							<a class="panelButton"><i class="fa fa-refresh"></i></a>
							<a class="panelButton"><i class="fa fa-minus"></i></a>
							<a class="panelButton"><i class="fa fa-remove"></i></a>
							
						</div>
					</h3>
				</div>
				<div class="panel-body" >
					<table class="table table-hover">              
                        <thead>
                           <tr>
                           <th><i></i> Organiser ID </th>
                            <th><i></i> Organiser Name </th>
                            <th><i></i> Organiser Email </th>
                            <th><i></i> Total Rental Amount </th>
                            <th><i></i> Total Outstanding Balance </th>
                            <th><i></i> Total Paid Amount </th>
                           <th>Actions</th>
                       
                           </tr>
                         <tbody>
                         <tr ng-repeat="x in orgs| orderObjectBy:order_item:order_reverse">
                            <td>{{ x.id }}</td>
                            <td>{{ x.name }}</td>
                            <td>{{ x.email }}</td>
                            <td>{{ x.total }}</td>
                            <td>{{ x.outstanding }}</td>
                            <td>{{ x.paid }}</td>
                            <td>
                            <a ui-sref="IFMS.updateReceivedPayment" ng-click="passOrganiser(x.id)" tooltip-placement="top" tooltip="Update Received Payment"><i class="glyphicon glyphicon-arrow-left"></i></a>
                            <a ui-sref="IFMS.viewListOfEvents" ng-click="passOrganiser(x.id)" tooltip-placement="top" tooltip="View List Of Events"><i class="glyphicon glyphicon-list"></i></a>
                            <a ui-sref="IFMS.viewPaymentHistory" ng-click="passOrganiser(x.id)" tooltip-placement="top" tooltip="View Payment History"><i class="glyphicon glyphicon-eye-open"></i></a>
                           </td>
                        </tr>
                         </tbody>
                         </thead>
                    </table>			
				</div>
			</div>
		</div>
	</div>
	
