<div class="conter-wrapper home-container">
	<div class="row home-row">
	</div>
	<div class="row home-row">
		
	
		
		
		<!--  <div class="col-lg-8 col-md-8"  ng-controller="calendarCtrl"> -->
		 <div class="col-lg-8 col-md-8" >
		 	<div class="conter-wrapper">
				<div class="panel panel-default">
					<div class="panel-body">
						<div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-lg-4 col-sm-3" >
			<todolist></todolist>
		</div>
		
		

	</div>
</div>
		