logInBaseFirst/target/m2e-wtp/web-resources/META-INF/maven/eu.kielczewski.example/example-spring-boot-security/pom.properties
logInBaseFirst/target/m2e-wtp/web-resources/META-INF/maven/eu.kielczewski.example/example-spring-boot-security/pom.properties
logInBaseFirst/src/main/resources/static/views/updateSpecialRate.html
